
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');


/* Reset de estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.codigoQr img.center-image {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.codigoQr{
    padding: 20px;
    margin: 30px 0;
    position: relative; /* Añadido para centrar la imagen */
}

.codigoQr img{
    margin: 0 auto;
    box-shadow: none;
    max-width: 800px;
}



body {
    background-color: #d2c7f3;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

/* Estilo del contenedor principal */
.container {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d2c7f3;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #307e35;
    color: rgb(7, 7, 7);
    border-radius: 10px 10px 0 0;
   
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ece8e8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="url"],
input[type="color"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #faeeee;
    border-radius: 8px;
    transition: border 0.3s ease;
}

input[type="url"]:focus,
input[type="color"]:focus,
input[type="file"]:focus {
    border-color: #4CAF50;
}

.btcolor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.btcolor label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;

}

/* Botón estilizado */
button {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color:  #307e35;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #10f31b;
}

.download-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #745ef3;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #5436c4;
}

.myname {
    margin-top: 20px;
    font-size: 0.6rem;
    color: #0a0a0a;
}

footer {
    margin-top: 50px;
    color: #0c0c0c;
    font-size: 0.5rem;
}

/* Estilos responsive para móviles */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    form {
        gap: 10px;
    }

    button,
    .download-button {
        font-size: 16px;
    }

    input[type="url"],
    input[type="color"],
    input[type="file"] {
        font-size: 14px;
    }
}
