body {
    background-color: rgb(242, 245, 248);
    margin: 0;
    padding: 0;
}

.formulario {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 90%; 
    margin: 1px auto;
    text-align: center;
    padding: 20px;
    background-color: #FDFDFD;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario img {
    max-width: 100px;
    filter: drop-shadow(0 0 0.2rem black);
    margin: 40px 0 0;
}

.formulario h1 {
    background: #0cbeca;
    color: #11110f;
    padding: 20px 0;
    text-align: center;
    margin: -20px -20px -20px -20px;
    border-radius: 20px 20px 0 0;
    font-size: 35px;
}

.formulario input[type="text"], .formulario input[type="url"], .formulario input[type="color"], .formulario select {
    box-sizing: border-box;
    width: 100%; 
    margin: 10px 0; 
    padding: 10px; 
    font-size: 18px; 
    border-radius: 10px; 
}

.formulario button, .download-button {
    width: 100%; 
    padding: 10px; 
    font-size: 18px; 
    border-radius: 10px; 
}

.codigoQr {
    padding: 20px;
    margin: 30px auto; 
    position: relative;
    max-width: 100%; 
    height: auto; 
}

.codigoQr img {
    width: 100%; 
    height: auto; 
}

.formulario p {
    font-size: 11px;
}

.download-button {
    background-color: #0cbeca;
    color: #0e0d0d;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
}

.download-button:hover {
    background-color: #218838;
}

.myname {
    text-align: right;
}

.codigoQr img.center-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.btcolor {
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
}

.qrslector {
    text-align: right;
    margin: -2%;
}
